@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-dark text-white text-center text-sm-start p-2 rounded-3">
    <h1>International Tech University</h1>
</div>
<div class="row justify-content-center">
    <div class="row my-5">
        <div class="col-md-6">
            <h2>Welcome to International Tech University</h2>
            <h3>where innovation meets education!</h3>
            <p>
                International Tech University (ITU) is a prestigious institution dedicated to providing world-class education in the fields of technology, engineering, and computer science. With a focus on cutting-edge research and practical application, ITU prepares students to become the next generation of leaders and innovators.
            </p>
        </div>
        <div class="col-md-6 text-center pt-md-5 pt-lg-0">
            <img src="~/assets/hero.jpg" class="w-75 rounded-3" />
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 bg-dark text-white p-3  rounded-3">
            <h2>Admissions</h2>
            <p>International Tech University (ITU) is a prestigious institution dedicated to providing world-class education in the fields of technology, engineering, and computer science. With a focus on cutting-edge research and practical application, ITU prepares students to become the next generation of leaders and innovators.</p>
        </div>
        <div class="col-md-6 border-dark p-3 rounded-3">
            <h2>Programs</h2>
            <p>ITU offers a wide range of undergraduate and graduate programs, tailored to meet the demands of the ever-evolving technological landscape. Our renowned faculty members are experts in their respective fields and provide students with a solid foundation in theory and practical skills. Explore our programs and find the one that aligns with your passion and career goals.</p>
        </div>
    </div>
</div>